li {
    list-style: none;
}   
img{
    width: 100px;
    image-resolution: 100px;
    border: solid 1px black;
    margin-left: 10px;
    background-color: aliceblue;
}
.cardProduct{
    background-color: aliceblue;
    margin: 5px 10% 5px 10%;
    border-radius: 15px;
}
.container{
    display: flex;
}
.row{
    flex-direction: row;
}
.column{
    flex-direction: column;
}
.valueUnit{
    background-color: none;
    border: none;
    width: 100px;
}