* {
    font-size: 14px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

nav {
    display: flex;
    flex: row;
    width: 100%;
    position: fixed;
    top: 0;
    background-color: #383E40;
    height: 50px;
    color: #F2F2F2;
    font-size: 25px;
    align-items: center;
    align-self: center;
    justify-content: space-between;
    font-size: 18px;

    & a {
        align-content: center;
        text-decoration: none;
        color: #F2F2F2;
        font-size: 18px;
        font-family: Verdana, Geneva, Tahoma, sans-serif
    }

    & .ahome {
        align-content: center;
        display: flex;
        flex: row;

        & span {
            font-size: 20px;
        }
    }

    & input {
        height: 20px;
        border-radius: 6px;
        margin-right: -5px;
    }

    .containterAcess {
        display: flex;
        justify-content: flex-end;

        & a {
            flex: 1;
            padding-right: 15px;
        }
    }
}

body {
    display: flex;
    height: 100vh;
    /* background: linear-gradient(to bottom, #F2858E, #F23545); */
    background: linear-gradient(to bottom, #000, #005);
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

li {
    list-style: none;
}

.imgLogo {
    height: 200px;
    width: 200px;
    image-resolution: 100%;
    border: none;
    background-color: none;
}

img {
    width: 100px;
    height: 100px;
    image-resolution: 100%;
    border: solid 1px black;
    margin-left: 10px;
    background-color: none;
}

label {
    display: block;
    margin-bottom: 2px;
    font-size: 16px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.loginForm {
    min-width: 320px;
}

input {
    min-height: 25px;
    min-width: 300px;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 3px;
}

button {
    background-color: #d64d58;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    flex-grow: 1;
}

/* button a {
    height: 100%;
    width: 100%;
    text-align: center;
    size: 25px;
    text-decoration: none;
} */

.cotainerButton {
    display: flex;
    flex-direction: row;
    height: 60px;
    justify-content: space-around;
    margin: 15px;

    & button {
        max-width: 450px;
        text-align: center;
        size: 18px;
        font-style: initial;
        font-family: Arial, Helvetica, sans-serif;
        text-decoration: none;
        color: #fff;
        font-weight: bold;
        border-radius: 5px;

        & a {
            /* background-color: black; */
            text-align: center;
            font-size: 20px;
            font-family: Arial, Helvetica, sans-serif;
            text-decoration: none;
            color: #fff;
            font-weight: bold;
            padding-left: 15px;
        }
    }

    & .flex {
        flex-grow: 1;
        margin-left: 5px;
        padding-left: 5px;
    }

}

.homeSection {
    position: fixed;
    top: 60px;
    bottom: 60px;
    overflow-y: scroll;
    height: 90vh;
    max-width: 550px;
    min-width: 150vh;
    background-color: #f2f2f271;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);

}

.cardProduct {
    display: flex;
    background-color: #F2D8D8;
    margin: 5px 5px 5px 5px;
    border-radius: 5px;

    && img {
        height: 200px;
        width: 200px;
        border: none;
        background: #ccccccb0;
        margin: 3px;
    }

    && .descriptionProduct {
        display: flex;
        justify-content: flex-start;
        text-align: start;
        align-items: stretch;
        align-self: flex-start;

        && p {
            width: 100%;
            font-size: 22px;
            font-family: Arial, Helvetica, sans-serif;
            font-style: normal;
        }
    }

    && .titleProduct {
        padding: 0px;
        margin: 5px 0px 2px 5px;
        font-size: 32px;
        text-align: start;
        padding-left: 15px;
        font-family: Arial, Helvetica, sans-serif;
        font-style: normal;
    }

    && tr {
        display: flex;
    }

    && td {
        display: flex;
    }

    .buttoncar {
        align-content: center;
        align-items: flex-end;
        justify-content: center;

        && a {
            height: 100%;
            width: 100%;
            padding: 5px 20px;
        }
    }

    .saldocar{
        align-content: start;
        align-items: flex-end;
        justify-content: center;
        text-align: start;
        & span{
            font-size: 22px;
            text-align: start;
        }

    }
}

.containerLogin {
    height: 600px;
    max-width: 550px;
    min-width: 420px;
    display: flex;
    border: 1px solid #ccc;
    background-color: #F2F2F2;
    justify-content: center;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
    align-items: center;

}

.row {
    flex-direction: row;
}

.column {
    min-height: 200px;
    max-height: 500px;
    flex-direction: column;
    padding: 5px;
}

.valueUnit {
    background-color: none;
    border: none;
    width: 100px;
}

.item {
    margin: 5px;
    padding: 0 10px;
    text-align: center;
    font-size: 1.5em;
}

.space-around {
    justify-content: space-around;
}

.center {
    align-items: center;
}

.containerCreate {
    flex-direction: column;
    overflow-y: scroll;
    min-height: 600px;
    max-height: 800px;
    max-width: 750px;
    min-width: 40vw;
    display: flex;
    border: 1px solid #ccc;
    background-color: #F2F2F2;
    justify-content: center;
    align-content: center;
    align-items: center;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.514);
    padding: 15px;

    & label {
        padding-bottom: 10px;
    }
}

.containerBlockCreate {
    display: flex;
    margin: 15px;
    max-width: 800px;
    margin: 0px;
    justify-content: space-around;
    min-height: 50px;
    max-height: 120px;
}

.senhasCreate {
    max-height: 180px;
}

.formSearch {
    flex-direction: row;

    & input {
        padding: 6px;
        margin: 0px;
        height: 40px;
        margin-right: -15px;
    }

    & button {
        margin: 0px;
        padding: 6px;
        height: 39px;
        padding-left: 10px;
        padding-right: 10px;
    }
}

#searchProduct {
    height: 10px;
}

.containerbuy {
    flex-direction: column;
    max-height: 800px;
    max-width: 750px;
    display: flex;
    border: 1px solid #ccc;
    background-color: #F2F2F2;
    justify-content: center;
    align-content: center;
    align-items: center;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.514);
    padding: 25px;

    & p {
        align-self: baseline;
        text-align: start;
        font-size: 18px;
    }

    & label {
        font-family: Arial, Helvetica, sans-serif;
        font-size: 18px;
        padding-bottom: 10px;
    }

    & h1 {
        font-family: Arial, Helvetica, sans-serif;
        font-size: 25px;

        & b {
            font-family: Arial, Helvetica, sans-serif;
            font-size: 35px;
        }

        & span {
            font-family: Arial, Helvetica, sans-serif;
            font-size: 30px;
        }
    }
}

.containerSucessfull {
    align-self: start;
    flex-direction: column;
    min-height: 600px;
    max-height: 800px;
    max-width: 750px;
    min-width: 40vw;
    display: flex;
    border: 1px solid #ccc;
    background-color: #F2F2F2;
    align-items: center;
    border-radius: 8px;
    box-shadow: 0 2px 8px rgba(204, 201, 201, 0.788);
    padding: 15px;
    & h1{
        font-family: Arial, Helvetica, sans-serif;
        font-size: 40px;
        text-align: center;
    }
}