<main class="container">
{{#if sessionCod}}
<meta http-equiv="refresh" content="1.5; url=/">
{{/if}}
<meta http-equiv="refresh" content="2; url=/home">
<h1>{{msg}}</h1>
<br>
{{#if carBuy}}
<progress />
{{/if}}
</main>