<footer class="container row fixed">
    <div>
        <ul>Autores</ul>
        <li>Jeferson Braga</li>
        <li>Rafael Santana</li>
    </div>
    <div>
        <ul>GitHub</ul>
        <li><a href="https://github.com/JefersonBLuz">JefersonBLuz</a></li>
        <li><a href="https://github.com/Rafaelss20">Rafaelss20</a></li>
    </div>
    <div>

    </div>
</footer>